* {
  margin: 0px;
  padding: 0px;
}

*:focus {
  outline: none;
}

html, body, #root {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}

#root {
  font-family: 'Quicksand', sans-serif;
}

.App {
  background: var(--app-background-color);
  text-shadow: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: none;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../font/Quicksand-Medium.ttf') format('truetype');
}

#credits {
  width: 150px;
  height: 30px;
  position: absolute;
  bottom: 5px;
  right: 110px;
  font-size: 12px;
  color: #8000ff;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: none;
  line-height: 30px;
  text-align: right;
}

#content {
  float: left;
  height: 100%;
  width: calc(100% - 200px);
  padding-left: 10px;
  padding-right: 10px;
}

#overview {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #8000ff;
}
