#rightNav {
  width: 60px;
  height: 100%;
  float: right;
  box-shadow: inset 10px 0px 10px -5px rgba(0, 0, 0, 0.25);
  background: var(--app-background-color);
}

#rightNav::-webkit-scrollbar {
  width: 6px;
  background-color: var(--scrollbar);
  border-radius: 5px;
}

#rightNav::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 5px;
}

#rightNav .activeView {
  z-index: 10000;
  position: absolute;
  top: 0px;
  right: 60px;
  left: 120px;
  height: 100%;
  box-sizing: border-box;
  background: var(--app-background-color);
  overflow: hidden;
}

#rightNav .activeView.show {
  animation: zoomOutRight 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#rightNav .activeView.hide {
  animation: zoomInRight 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes zoomOutRight {
  0% {
    transform: scaleX(0.0);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}
@keyframes zoomInRight {
  0% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(0.0);
    transform-origin: 100% 100%;
  }
}

#rightNav > .windowContainer .image {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 3px solid #8000ff;
  box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
  background-color: white;
  cursor: pointer;
  opacity: 0;
  animation-name: zoomIn;
  animation-duration: 300ms;
  transition-duration: 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: relative;
  z-index: 100001;
}

#rightNav .windowContainer {
  width: 36px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}
#rightNav .windowContainer:hover .windowToolTip {
  display: inline-flex;
  opacity: 0;
  animation-name: zoomIn;
  animation-duration: 300ms;
  transition-duration: 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#rightNav .windowContainer .windowToolTip {
  float: right;
  background-color: #8000ff;
  color: var(--button-color);
  width: auto;
  padding-left: 5px;
  padding-right: 15px;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  position: relative;
  z-index: 100000;
  top: -33px;
  right: 25px;
  text-align: right;
  white-space: nowrap;
  box-shadow: 0px 0px 10px 0px rgba(172, 172, 172, 0.2);
  display: none;
}

#rightNav .windowContainer .removeWindow {
  height: 20px;
  width: 20px;
  color: #8000ff;
  font-size: 14px;
  position: relative;
  top: 7px;
  right: -28px;
  cursor: pointer;
  float: left;
}

#rightNav a:hover,
#rightNav a.menuItemActiv {
  border-right: 3px solid #8000ff;
  cursor: pointer;
}

.gradIcon {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 70px;
  background-color: white;
  border-radius: 60px;
  position: absolute;
  right: 30px;
  top: 10px;
  border: none;
  padding: 0px;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }
}
